.wrapper {
  height: calc(100vh - 64px);
  padding: 20px;
  overflow-y: scroll;

  .gridWrapper {
    grid-auto-rows: minmax(40px, auto);
    align-items: center;
  }

  .gridRow {
    grid-auto-flow: column;
    grid-template-columns: minmax(150px, auto) auto;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px
  }

  .syncPreviewsRow {
    grid-template-columns: minmax(150px, auto) 1fr;
  }
}
