.modal {
    .loader {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    :global .ant-modal {
        width: fit-content !important;
        min-width: 50%;
    }
}