.dropZone {
  height: 200px;
  opacity: 1;
  overflow: hidden;
  transition: all 0.2s ease !important;

  &:global.active {
    height: 0 !important;
    opacity: 0;
  }

  &:global.ant-upload-wrapper .ant-upload-drag .ant-upload {
    padding: 0;
  }
}
