.dropZone {
  opacity: 1;
  transition: all 0.2s ease !important;
  overflow: hidden;

  &:global.active {
    height: 0 !important;
    opacity: 0;
  }

  &:global.ant-upload-wrapper .ant-upload-drag .ant-upload {
    padding: 0;
  }
}
