.wrapper {
  height: calc(100vh - 64px);
  padding: 20px;

  .gridWrapper {
    grid-template-columns: 200px 300px;
    grid-template-rows: 40px 40px 40px minmax(40px, auto);
    gap: 10px;
    align-items: center;
  }

  .inputField {
    max-width: 90px;
  }
}
