.wrapper {
  height: calc(100vh - 64px);
  padding: 20px;

  .gridWrapper {
    grid-auto-rows: minmax(40px, auto);
    gap: 10px;
    align-items: center;
  }

  .gridRow {
    grid-auto-flow: column;
    grid-template-columns: minmax(130px, 20%) auto;
    justify-content: flex-start;
    align-items: center;
  }

  .syncPreviewsRow {
    grid-template-columns: minmax(130px, 20%) 1fr;
  }
}
