.header {
    display: flex;
    padding-right: 10px;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.backgroundImage {
    display: block;
    position: absolute;
    left: 0;
    width: calc(100% - 450px);
    height: 512px;

    img {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
    }
}

.title {
    z-index: 1;
    text-wrap: nowrap;
    text-shadow: var(--logo-text-shadow);
}