.folderWrapper {
  height: auto;
  padding: 0 10px 0 20px;
}

.label {
  margin-right: 6px;
}

.plusIcon {
  font-size: 20px;
  margin-left: 6px;
}

.showSubfolders {
  &:global.ant-checkbox-wrapper {
    margin-bottom: 10px;
    margin-top: 5px;
  }
}
