@use '_vars' as vars;

.ant-layout-content {
  display: grid;
}

.ant-layout-has-sider {
  height: var(--full-screen-height);
}

.ant-layout-sider-light {
  background: vars.$mainBackground;
  transition: none;
}
.ant-spin-nested-loading {
  height: 100%;
  overflow-y: auto;
}
.ant-layout-sider-light .ant-layout-sider-trigger {
  background: vars.$mainBackground;
}
.ant-layout-sider-light .ant-layout-sider-zero-width-trigger {
  background: vars.$mainBackground;
}
.ant-menu-sub.ant-menu-inline {
  background: inherit;
}
.ant-tree {
  background: inherit;
}
.ant-menu-submenu-title {
  background: #cacaca;
}
.ant-collapse .ant-collapse-content {
  background: #f7f7f7;
}
