@import 'vars';

.ant-layout-content {
  display: grid;
}

.ant-layout-has-sider {
  height: calc(100vh - 64px);
}

.ant-layout-sider-light {
  background: $mainBackground;
  transition: none;
}
.ant-spin-nested-loading {
  height: 100%;
  overflow-y: auto;
}
.ant-layout-sider-light .ant-layout-sider-trigger {
  background: $mainBackground;
}
.ant-layout-sider-light .ant-layout-sider-zero-width-trigger {
  background: $mainBackground;
}
.ant-menu {
  background: $mainBackground;
}
.ant-menu-sub.ant-menu-inline {
  background: inherit;
}
.ant-tree {
  background: inherit;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: inherit;
}
.ant-menu-submenu-title {
  background: #cacaca;
}
