//colors
$primary: #1890ff;
$mainTitle: white;
$darkBorder: black;
$mainBackground: #e6e6e6;
$galleryItemMenu: black;
$galleryItemMenuText: white;
$sizeDivider: #cacaca;
$tileExtensionColor: #ffff00;
$tileExtensionBackground: rgba(64, 64, 64, 25%);
$tileVideoColor: red;
