//colors
$primary: #1890ff;
$mainTitle: white;
$darkBorder: black;
$mainBackground: #e6e6e6;

$galleryItemMenu: black;
$galleryItemMenuText: white;

$tileExtensionColor: #ffff00;
$tileExtensionBackground: rgba(64, 64, 64, 25%);
$tileVideoColor: red;

:root {
  --full-screen-height: calc(100vh - 64px);

  --primary: #1890ff;
  --main-title: white;
  --header-title-color: #fff;
  --logo-text-shadow: 1px 1px 2px black;;
  --dark-border: black;
  --main-background: #e6e6e6;

  --success: limegreen;
  --success-btn: limegreen;
  --success-btn-hover: lightgreen;

  --gallery-item-menu: black;
  --gallery-item-menu-text: white;

  --size-divider: #cacaca;

  --tile-extension-color: #ffff00;
  --tile-extension-background: rgba(64, 64, 64, 25%);
  --tile-video-color: red;

  --sortable-item-background: white;
  --sortable-item-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(34, 33, 81, 0.15);
  --sortable-item-button-color: #b7b7b7;

  --gallery-error-highlight: red;
  
  --collapse-duplicate-item-color: #de00005e;

  --settings-page-background: white;

  --uppy-loader-modal-grey: #b8b8b8;
  --uppy-loader-modal-primary: var(--primary);
  --uppy-loader-modal-disabled: var(--main-background);
  --uppy-loader-upload-btn: #8dc8ff;
}
