.checkbox {
  min-width: 116px;
}

.inputField {
  flex: 1;
}

.textArea {
  resize: vertical;
}

.extension {
  margin-left: 5px;
  margin-top: 5px;
}

.buttonsWrapper {
  gap: 10px;
}

.button {
  flex: 1;
  margin-bottom: 10px;
}

.deleteButton {
  margin-bottom: 0;
}
