@import 'src/styles/_vars';

.sider {
  overflow: auto;
  min-height: calc(100vh - 64px);
  min-width: 200px !important;
  left: 0;
}

.menu {
  height: 100%;
  border-right: 0;
}

.keywordsMenuWrapper {
  padding: 10px;
}

.previewMenu {
  :global .ant-menu-item > .ant-menu-title-content {
    height: 100%;
    width: 100%;
  }
}

.preview {
  height: 100% !important;
  cursor: default !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.previewImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
