@import 'src/styles/_vars';

.sider {
  overflow: auto;
  min-height: calc(100vh - 64px);
  position: fixed;
  left: 0;
}

.menu {
  height: 100%;
  border-right: 0;
}

.keywordsMenuWrapper {
  padding: 10px;
}
