@import 'src/styles/_vars';

.sider {
  overflow: auto;
  min-height: calc(100vh - 64px);
  min-width: 200px !important;
  left: 0;

  .panelHeader {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .keywordsMenuWrapper {
    padding: 10px;
  }

  .extraMenu {
    padding: 10px;
  }

  :global {
    .collapse-panel-sort .ant-collapse-content-box {
      padding: 10px;
    }
  }
}
