.sider {
  left: 0;
  min-height: calc(100vh - 64px);
  min-width: 200px !important;
  overflow: auto;
  transition: all 0.05s !important;

  .panelHeader {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .keywordsMenuWrapper {
    padding: 10px;
  }

  .extraMenu {
    padding: 10px;
  }

  .panelBody {
    min-width: 340px;
  }

  :global {
    .collapse-panel-sort .ant-collapse-content-box {
      padding: 10px;
    }
  }
}
