.contentCardGrid {
  display: flex;
  justify-content: space-between;
  width: 80% !important;
  height: 44px !important;
  padding: 10px 20px !important;
}

.resultCardGrid {
  width: 20% !important;
  height: 44px !important;
  padding: 10px !important;
  text-align: center !important;
}
