.divider {
  height: 100%;
  cursor: col-resize;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--size-divider);
  user-select: none;

  .resizeIcon {
    font-size: 25px;
    transform: translateX(-7px);
    display: inline-block;
  }
}

.wrapper {
  height: calc(100vh - 64px);
}