.item {
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.2s ease;
  user-select: none;

  &.loading {
    opacity: 0.4;
  }

  &.shiftHover {
    transform: matrix3d(1, 0, 0, 0.001, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1.2);
  }

  &:hover > .itemMenu {
    left: 0;
  }

  &:global.active {
    box-shadow: 0 0 0 5px var(--primary);
  }

  &:focus-visible {
    outline: none;
  }
}

.itemMenu {
  width: 30px;
  left: -30px;
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0.6;
  background: var(--gallery-item-menu);
  color: var(--gallery-item-menu-text);
  transition: left 0.3s ease;
  cursor: default;
  z-index: 1;

  &.highlighted {
    left: 0;
    background: var(--gallery-error-highlight);
  }

  &.isUploading {
    left: -30px !important;
  }
}

.errorHighlight {
  outline: solid 20px var(--gallery-error-highlight);
  opacity: 0.5;
  top: 5%;
  bottom: 5%;
  right: 5%;
  left: 5%;

}

.itemMenuExif {
  color: var(--gallery-item-menu-text);
  margin: 5px 0;
  text-align: center;
}

.itemMenuIcon {
  height: 22px;
  font-size: 22px;
}

.imgPlaceholder {
  display: none;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  z-index: 1;

  &:global(.d-none) + :local(.imgPlaceholder) {
    position: absolute;
    display: block;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    z-index: 0;
  }
}

.extension {
  color: var(--tile-extension-color);
  background: var(--tile-extension-background);
  top: 0;
  right: 0;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
}

.video {
  color: var(--tile-video-color)
}
