.row {
  box-shadow: 0 12px 10px -7px rgba(34, 60, 80, 0.2);
  min-height: 30px;
  padding: 0 20px;
  margin: 0 !important;
}

.slider {
  width: 250px;

  :global .ant-slider-rail {
    box-shadow: 0 5px 10px 2px rgb(34 60 80 / 31%);
  }
}
